* {
    color: #381919;
}

.header-container {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    background-color: #af5c5c;
    height: 80px;
}

.header-header {
    margin-left: 50px;
}

.link{
    text-decoration: none;
}

.links-container {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    gap: 20px;
    justify-self: end;
    margin-right: 50px;
    font-size: larger;
}

