.recommended h2 {
    font-size: xx-large;
}

.recommended h3 {
    margin: none;
}

.recommended {
    display: grid;
    grid-template-columns: 275px auto;
    color: #6A5441;
}

.tags-container,
.authors-container {
    margin-left: 20px;
    margin-top: 50px;
}

.tag,
.author {
    display: grid;
    grid-template-columns: 100px max-content;
    align-items: center;
    gap: 5px;
}

.tag button,
.author button {
    height: 20px;
    background-color: #d1c1b3;
    border: none;
    color: #6A5441;
}

.books-container {
    margin-left: 75px;
    text-align: start;
}

.main-book-area {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 20px;
}

.book-tags {
    display: grid;
    grid-template-columns: repeat(auto-fit, 125px);
    gap: 5px;
    margin-top: 10px;
}

.book-genre,
.book-tag {
    background-color: #d1c1b3;
    text-align: center;
    border-radius: 30px;
}

img {
    width: 250px;
}

.tags-and-authors,
.book {
    box-shadow: 0px 0px 10px #A29385;
}

.tags-and-authors {
    padding: 10px 10px 10px 10px;
}

.book {
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
}