.signup-page {
    display: grid;
    grid-template-columns: auto minmax(250px, 40vw) auto;
    height: 70vh;
    margin: 100px 0px auto 0px;
}

.signup-form {
    display: grid;
    grid-template-columns: auto;
    row-gap: 10px;
    padding: 0px 40px 0px 40px;
}

label {
    font-size: xx-large;
}

#submit {
    margin-top: 25px;
    background: none;
    height: 50px;
}
.signup-container {
    display: grid;
    align-items: center;
}

.gap-one,
.gap-two {
    background-color: #FE425A;
    box-shadow: 0px 0px 10px #FE425A;
}

input {
    height: 40px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #FE425A;
    border-width: 1px;
    font-size: x-large;
}

.signin-header {
    margin: none;
    padding: none;
    font-size: 3.2em;
}

.new-account {
    font-size: larger;
}